{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Catch</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}"/>
</head>
<style type="text/css">
	.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
h3{
color:white;
}
.cart-button {
    /* background-color: #bfbfbf; */
    background-color: #b01ba5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 80px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none
}

.cart-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px
}

</style>

<body style="background-color:#0c062e">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="/" class="site-logo">
					<img src="{% static './front/img/glogo.png' %}" alt="">
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
                        {%if request.user.is_authenticated%}
						<a href="/logout">Logout</a> 
                        {%else%}
                        <a href="/customerlogin">login</a> / <a href="/customersignup">Register</a>
                        {%endif%}					</div>
					<!-- Menu -->
					<ul class="main-menu ">
						<li><a href="/">Home</a></li>
						<li><a href="/allgames">Games</a></li>
						<li><a href="/allcrackgames">Crack Games</a></li>
						<li><a href="/customernews">News</a></li>
                        {%if request.user.is_authenticated%}
						<li><a href="/view-ads">Advertises</a></li>
						<li><a href="/my-order">Orders</a></li>
                        {%endif%}
						<li><a href="/send-cont">Contact</a></li>
                        {%if request.user.is_authenticated%}
						<li><a href="/my-profile">Profile</a></li>
                        {%endif%}
             {%if request.user.is_authenticated%}
                        <a class=""  style="color:white" href="/cart"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 " style="color:white !important">
							<path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
						</svg>Cart<span class="item-number "></span> </a> 
                        {%endif%}
					</ul>
				</nav>
			</div>
		</div>
	</header>
    <br />
    <br />
    <br />
    <br />
    
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero" style="background-color:#0c062e">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{%static 'img/hero/qpjtjdxwbwrk4gyj.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label" style="background-color:transparent;color:transparent">Adventure</div>
                                <h2 style="color:transparent">Fatejjj / Stay Night: Unlimited Blade Works</h2>
                                <p style="color:transparent">After 30 days of travel across the world...</p>
                                <a href="#"  style="color:transparent"><span  style="background-color:transparent;color:transparent">Watch Now</span> <i class="fa fa-angle-right"  style="background-color:transparent;color:transparent"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{%static 'img/hero/h.webp' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label" style="background-color:transparent;color:transparent">Adventure</div>
                                <h2 style="color:transparent">Fatejjj / Stay Night: Unlimited Blade Works</h2>
                                <p style="color:transparent">After 30 days of travel across the world...</p>
                                <a href="#"  style="color:transparent"><span  style="background-color:transparent;color:transparent">Watch Now</span> <i class="fa fa-angle-right"  style="background-color:transparent;color:transparent"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{%static 'img/hero/hero-1.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad" style="background-color:#0c062e">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {%if Games%}
                            {% for p in Games %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{% static p.game_image.url %}">
                                        <div class="ep" style="background-color:#b01ba5 !important">₹ {{p.price}}</div>
                                        <div class="comment" style="background-color:#b01ba5"><a href="{% url 'add-to-cart' p.id  %}" style="color:white"><i class="fa fa-shopping-cart"></i> Add To Cart</a></div>
                                        <div class="view" style="background-color:#b01ba5"><a href="{% url 'detailgameview' p.id  %}" style="color:white"><i class="fa fa-eye"></i></a> </div>
                                    </div>
                                    <div class="product__item__text">
                                       
                                        <h5><a href="#">{{p.name}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {%endif%}
                        </div>
                    </div>
              
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                          
                            <div class="filter__gallery">
                                {%if Advertises%}
                            {% for p in Advertises %}
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="{% static p.adv_image.url %}">
                                <div class="ep">{{p.posted_date}}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{p.title}}</div>
                                <h5><a href="#">{{p.description}}</a></h5>
                            </div>
                            {%endfor%}
                            {%endif%}
                                            
                 
               
        </div>
    </div>
    
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <a href="#" class="footer-logo">
            <img src="{% static './front/img/glogo.png' %}" alt="">
        </a>
        <ul class="main-menu footer-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="footer-social d-flex justify-content-center">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
        </div>
        <div class="copyright"><a href="">GAMECATCH</a> 2023@ All rights reserved</div>
    </div>
</footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/player.js' %}"></script>
<script src="{%static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{%static 'js/mixitup.min.js' %}"></script>
<script src="{%static 'js/jquery.slicknav.js' %}"></script>
<script src="{%static 'js/owl.carousel.min.js' %}"></script>
<script src="{%static 'js/main.js' %}"></script>


</body>

</html>
{% endblock content %}